<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700');

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; width: 100vw; height: 100vh; overflow: hidden;}
svg {width: 100%; height: 100%;
}

#app {
  width: 100vw; height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
