<img src="img/agreste.jpg" alt="Revista Agreste" />
<p><b>AGRESTE</b> é uma revista virtual de arte e política coltada às narrativas experimentais das mais diversas manifestações culturais.</p>
<p>Além de textos teóricos, a revista conta com artigos experimentais em outras mídias, como foto, vídeo, narrativas interativas e publicações digitais.</p>
<p>A <b>GRÃO</b> desenvolve o trabalho gráfico e editorial da revista com sazonalidade anual.</p>
<p>A revista pode ser acessda pelo link <a href="http://revistaagreste.com.br/" target="_blank">revistaagreste.com.br</a>.</p>
