<img src="img/beijo.jpg" alt="Noite do Beijo"/>
<p>O documentário <b>Noite do Beijo - Ontem e Hoje</b>, realizado pela <b>GRÃO</b> propõe um diálogo entre gerações de jovens que participaram de momentos políticos marcantes da história de Sorocaba, interior de São Paulo. </p>
<p>O filme é inspirado pelo mítico episódio Noite do Beijo - ocorrido em 1981 - e costura este evento a uma série de narrativas protagonizadas pela juventude nas décadas seguintes, culminando nas ocupações escolares de 2015. Suor, lutas e muitos hormônios misturam-se em uma trama que mistura ficção e realidade.</p>
