<iframe src="https://www.youtube.com/embed/SvvAXLUFUEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p><b>CAIXINHA DE MÚSICA</b> foi um espaço aberto no Sesc Sorocaba durante os dias do festival FEBRE em 2017.</p>
<p>Alí, diversos artistas puderam entrar e gravar uma versão acústica de uma música de sua autoria, com qualidade de som e imagem.</p>
<p>A <b>GRÃO</b> realizou a gravação de som e imagem da ação, cujos vídeos podem ser acessados pelo <a href="https://www.youtube.com/playlist?list=PL9da3gfWt9cmfNzsn4nwm5zafKsrdZPiU" target="_blank">canal de youtube do festival</a>.</p>
