<iframe src="https://player.vimeo.com/video/200321656" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>Vídeo instalação realizada em 2016, na cidade de Sorocaba, como parte do evento <i>Experimentassom</i> no <b>SESC Sorocaba</b>, em parceria com o gurpo Cunhantã de teatro.</p>
<p>A projeção com 12 metros de comprimento criu um ambiente imersivo para os expectadores e servia de palco a uma performance criada a partir de estudos da obra "Parque Industrial" (1932), de Patrícia Galvão, a Pagu.</p>
