<iframe src="https://player.vimeo.com/video/188157302" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>A <b>GRÃO</b> foi a produtora executiva das produções do projeto de circulação <b>IMERSÃO IMINÊNCIA</b>, do coletivo <b>IMINÊNCIA</b>, fomentado pelo <b>ProAc</b>.</p>
<p>O projeto consistiu numa ponte entre o coletivo paulistano e outros quatro coletivos inependentes do cenário paulista, que resultou em encontros, oficinas cruzadas e produções conjuntas.</p>
<p>Os vídeos do processo podem ser acessados pelo <a href="http://iminencia.com.br" target="_blank">website do coletivo</a>.</p>
