<iframe src="https://www.youtube.com/embed/fePUi5qiUhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>A <b>GRÃO</b> realizou a edição de vídeo e assessoria técnica de alguns dos projetos mais recentes da artista Maria Thereza Alves, reconhecida mundialmente, colaborando na construção de instalações baseadas na exibição simultânea de vídeos em múltiplas telas:
<ul>
  <li>Um Vazio Pleno (A Full Void) - <i>Frestas</i>, Sorocaba, 2017</li>
  <li>To See the Forest Standing - <i>Disappearing Legacies: The World as Forest</i>, Hamburgo, 2017</li>
  <li>Descolonizando o Brasil (Decolonizing Brazil), <a href="http://www.descolonizandobrasil.com.br" target="_blank">Website Interativo<sup>*</sup></a> e exposição no SESC, Sorocaba, 2019.</li>
</ul>
<span style="font-size: x-small">
  <sup>*</sup> O website interativo não foi desenvolvido pela <b>GRÃO</b>, realizamos apenas a edição dos vídeos.
</span>
