<img src="img/maquina_de_historias.jpg" alt="Máquina de histórias" style="object-position: top;"/>
<audio controls>
 <source src="audio/maquina.ogg" type="audio/ogg">
 <source src="audio/maquina.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
<p><b>MÁQUINA DE HISTÓRIAS</b> foi uma instalação interativa desenvolvida pela <b>GRÃO</b> realiza na <b>VIRADA CULTURAL 2013</b>.</p>
<p>A instalação consistia em um totem dotado de um fone e um microfone, onde cada participante ouvia um trecho de história e era convidado a continuar a narrativa.</p>
<p>A soma da interação dos mais de 370 usuários gerou ao todo 27 histórias, que depois de completas podiam ser escutadas pelos participantes do evento.</p>
