<img src="img/mcdh.jpg" alt="Mostra Cinema e Direitos Humanos" />
<p>A <b>GRÃO</b> foi a produtora paulistano da 12ª Mostra Cinema e Direitos Humanos, promovida pelo Ministério dos Direitos Humanos nas 26 capitais e no Distrito Federal. Nessa edição, a Mostra teve como tema os 70 anos da Declaração Universal dos Direitos Humanos.</p>
<p>Em São Paulo as sessões ocorreram nos cinemas da Galeria Olido e no Matilha Cultural, em diversos CEUs da cidade e em equipamentos municipais e Estaduais, como o programa Centro Aberto, os CICs e as Fundações Casa.</p>
