<iframe src="https://player.vimeo.com/video/70778401" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><b>MECÂNICA DIGITAL</b> foi uma instalaçnao interativa realizada por Radamés Ajna que consistia num Gameboy 1989 com o jogo Tetris, explodido mas totalmente jogável através de um interface arcade com um jostick e botões.</p>
<p>A <b>GRÃO</b> realizou o vídeo making-of exposto junto com a obra na Exposição Mais de Mil Brinquedos para a Criança Brasileira no SESC Pompéia, ocorrida de 9.jul.2013 a 2.fev.2014.</p>
