<iframe src="https://player.vimeo.com/video/96805944" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>A <b>GRÃO</b> realizou a montagem dos filmes do programa de residência Pontos MIS 2013, com a montagem de nove curtas-metragem de cineastas iniciantes selecionados pelo programa.</p>
<p>Sob supervisão da montadora <i>Cristina Amaral</i>, a equipe da <b>GRÃO</b> também realizou suporte educativo do curso de montagem <i>Aprender fazendo, fazer pensando</i> no <b>MIS-SP</b>.</p>
