<img src="img/mob.jpg" alt="Webdocumentário Mobiliário Urbano" />
<p><b>Mobiliário Urbano</b> é um webdocumentário pesquisa os processos históricos e atuais de expulsão de populações tradicionais do centro da cidade de São Paulo.</p>
<p>Realizado pela <b>GRÃO</b> com financiamento do edital <b>ProAc</b>, a plataforma desenvolve uma narrativa de montagem aleatória, que permine tma nova experiêcia a cada acesso.</p>
<p>O Webdoc pode ser acessdo pelo link <a href="http://moburb.org" target="_blank">moburb.org</a>.</p>
