<iframe src="https://player.vimeo.com/video/262039149" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>A <b>GRÃO</b> realiza o trabalho de montagem cinematográfica, edição e mixagem de som em diversos fimes. Dentre eles destacam-se:</p>
<ul>
  <li>Um Filme de Cinema (Longa-metragem) – 2017, Thiago B. Mendonça, 108 min, cor</li>
  <li>Um Filme de Cinema (Série) –  2017, Thiago B. Mendonça, 13 episódios, 13 min, cor</li>
  <li>A Pajé – 2019, Felipe Ludovice, 25 min, cor</li>
  <li>Rancho da Goiabada – 2019, Guilherme Martins, 20 min, cor</li>
</ul>
