<img src="bg/oficinas.jpg" alt="Oficinas de Formação" />
<p>A <b>GRÃO</b> realiza oficinas de formação em cinema e novas narrativas. Dentre eles destacam-se:</p>
<ul>
  <li>Webdocumentário: Ambientes de Resistência – Curso teórico de introdução à linguagem das novas narrativas, ministrado em SESCs e festivvais de cinema.</li>
  <li>Viva a História: Oficina de webdoc – Curso teórico e prático de introduçnao à linguagem das novas narrativas, ministrado em na E. E. Afrânio Lajes, Maceió, AL.</li>
  <li>Núcleo de Cinema – Curso de formação teórica e prática de linguagem cinematográfica realizado em Sorocaba, SP.</li>
</ul>
