<img src="img/pao.jpg" alt="Máquina de histórias" style="object-position: top;"/>
<p><b>O PREÇO DO PÃO</b> foi um espetáculo teatral transmídia livremente inspirado no livro <i>Inútil Canto e Inútil Pranto pelos Anjos Caídos</i> de Plínio Marcos.</p>
<p>Cruzando as linguagens linguagens teatral e audiovisual, circulou por diversas cidades da grande São Paulo e realizou temporada na capital, com o apoio do <i>ProAc Primeiras Obras de Teatro</i>.</p>
<p>A <b>GRÃO</b> desenvolveu as projeções mapeadas que constituiram o cenário do espetáculo, assim como faziam parte da sua iluminação.</p>
