<iframe src="https://www.youtube.com/embed/DsnZIMkk_9o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>A <b>GRÃO</b> realiza o trabalho de produção executiva e de set em diversos fimes. Dentre eles destacam-se:</p>
<ul>
  <li>Sem Pena – 2014, Eugênio Puppo, 89 min, cor</li>
  <li>Coragem – 2016, Sebastião Braga, 72 min, cor</li>
  <li>Curtas  Jornadas Noite Adentro – 2019, Thiago B. Mendonça, em montagem, cor</li>
  <li>Cidade dos Abismos –  2019, Priscila Betim e , em montagem, cor</li>
</ul>
