<iframe src="https://www.youtube.com/embed/zVvx4w2I-tc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p><b>TEM EM SÃO CAENTANO</b> é um webdocumentário construído em parceria com os alunos da EJA da EME Prof. Vicente Bastos.</p>
<p>Seu formato busca simular o próprio processo de entrevistas, num diálogo entre alunos e entrevistados.</p>
<p>A <b>GRÃO</b> ministrou a <b>Oficna de Webdoc</b>, realizou a programação do webdoc e a montagem do documentário <i>Aquém da Fundação: outras matizes em São Caetano</i>/</p>
<p>O Webdoc pode ser acessdo pelo link <a href="http://tememsaocaetano.com.br/" target="_blank">tememsaocaetano.com.br</a>.</p>
