<iframe src="https://player.vimeo.com/video/44046105" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p>Buscando se desprender de formalidades tecnicas em sua arte, o autor Lourenço Mutarelli iniciou um laboratório onde quase todas as noites se põe sob o efeito de doses massivas de álcool e antidepressivos para desenhar e escrever livremente as idéias que fervilham em sua mente. Este experimento resulta em diversos cadernos de rascunho que refletem os principais temas de sua vida, como a infância conturbada, problemas psicológicos, suas idéias e as dificuldades cotidianas que o autor enfrenta.</p>
<p>São a manifestação mais sincera das opiniões e pensamentos de um homem com uma produção artística peculiar, que passou a maior parte de sua vida sob o efeito de medicamentos psiquiatricos. O autor intitula este experimento de "A Vida com Efeito".</p>
<p>O documentário <b>A VIDA COM EFEITO</b> que acompanha o artista em sua vida pessoal e seu processo criativo foi realizado pela <b>GRÃO</b> em 2006.</p>
