<img src="img/viva_a_historia.jpg" alt="Webdocumentário Viava História" />
<p><b>VIVA A HISTÓRIA</b> é um webdocumentário que ilustra imaginários do universo de um grupo de estudantes do ensino médio da Escola Estadual de Ensino Integral Prof. Afrânio Lages.</p>
<p>O trabalho é resultado da contrapartida social do projeto Arte no Prato 2017,da distribuidora de gás natural de Alagoas, a Algás. <b>VIVA A HISTÓRIA</b> foi realizado em parceria com o coletivo artístico Saudáveis Subversivos, a partir de um Ciclo de Oficinas de Artes Integradas, em comemoração ao bicentenário de Alagoas, no qual foram promovidas seis oficinas entre os meses de outubro e dezembro de 2017.</p>
<p>A <b>GRÃO</b> ministrou a <b>Oficna de Webdoc</b> e realizou a programação do website que resultou neste webdoc, que é uma colagem de fragmentos do que aconteceu na escola por aqueles dias. Memória de momentos reflexivos, transformadores e festivos do encontro entre uma equipe de educadores da Escola Afrânio Lages bastante comprometidos com a docência, um grupo de artistas e arte educadores, e um grupo de jovens guerreiros alagoanos. Todos em busca de uma escola pública, gratuita e de qualidade; e de um mundo melhor pra se viver.</p>
<p>O Webdoc pode ser acessdo pelo link <a href="http://vivaahistoria.art.br/" target="_blank">vivaahistoria.art.br</a>.</p>
