<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Grão Filmes é uma produtora de conteúdo voltada para produções em Cinema e Novas Mídias, gerando conteúdos interativos e inovadores, alinhados aos novos tempos.">
    <meta name="keywords" content="Cinema, Webdocumentário, Web, Documentário, Audiovisual, Novas, Narrativas, Mídias, Digitais, Tecnologia, Interativas, Interatividade, Inovação, Inovadoras, Produção, Cultural">
    <meta name="robots" content="">
    <meta name="revisit-after" content="7 day">
    <meta name="language" content="Portuguese">
    <meta name="generator" content="N/A">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Grão – Cinema e Novas Mídias</title>
  </head>
  <body>
    <noscript>
      <strong>Sentimos muito, mas este site precisa de JavaScript para seu fincionamento.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
