<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="HYCXZ3na8YqzibT26fvh4Mxybeu4h7qVtKUM3AV8ui0" />
    <title>Grão – Cinema e Novas Narrativas</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700" rel="stylesheet">
    <link href="fullpage.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <main id="main">
        <full-page :options="options" id="fullpage" ref="fullpage">
            <section class="section">
              <a href="#Sobre"><article class="home">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 148.1 235" style="enable-background:new 0 0 148.1 235;" xml:space="preserve">
                  <path d="M34.6,215.7c0,1.6,1.2,19.3-16.5,19.3c-12.8,0-15.9-9.6-16.3-14h7.8c0.3,1.7,1.4,7,8.6,7c10.1,0,8.6-10.7,8.6-15.2
                    c-4.4,5.5-15.3,7.1-22-0.2c-6.5-7-5.3-19.7-0.3-25.2c8.2-9.2,20.5-5.2,22.4-1.7v-2.8h7.8V215.7z M17.7,188.8
                    c-12.5,0-12.4,21.7,0,21.7C30.1,210.5,30.5,188.8,17.7,188.8z"/>
                  <path d="M44.5,182.7h7.8v2c1.4-1.5,7.9-5.2,14.3-0.9L64,191c-8.2-4.2-11.7,0.4-11.7,8.1v17.5h-7.8V182.7z"/>
                  <path d="M96,182.7v2.9c-5.7-7.3-26.5-5.5-26.5,13.9c0,18.5,18.9,21.6,26.5,14.5v2.5h7.8v-33.8H96z M86.8,210.5
                    c-12.4,0-12.7-21.7,0.1-21.7C99.8,188.8,99.9,210.5,86.8,210.5z"/>
                  <path d="M130.1,181.8c23.8,0,24.2,35.7-0.1,35.7C106.2,217.5,106,181.8,130.1,181.8z M130.1,210.5c13.4,0,13.6-21.7,0-21.7
                    C117,188.8,116.5,210.5,130.1,210.5z"/>
                  <path d="M102.8,166.8c-2.8,3.6-2.8,5.6-10.1,1.5v7.6c2.4,1,9.3,4.7,14.6-5.3L102.8,166.8z"/>
                  <path d="M0.3,87.5c0,33.6,22.2,61.7,55.2,70.2c0.3-4.9,0.8-9.1,1.5-13c-26.9-8.1-42.3-28.9-42.3-57.2c0-20.7,7.4-36.5,25.9-50.9
                    c7.5-5.8,14.5-11.5,15.8-20.8C23.4,24,0.3,53.4,0.3,87.5z"/>
                  <path d="M81.5,0c-7.7,0.9-13,7.2-13.9,16.7c-1.5,15.5-12.4,23.7-15.2,25.6C35.1,54.1,25.5,67.3,25.5,87.1
                    c0,21.8,14.5,41.3,35.3,47.4c2.2-5.6,4.8-9.1,6.6-11c0-0.1,0.1-0.1,0.1-0.2C42,116.8,40,94,40,87.1c0-8.7,5.3-19.9,17.1-28.5
                    C74.7,45.8,81.5,37.5,81.5,0z"/>
                  <path d="M148.1,87c0-33.3-24-63.8-55.8-71.1c-0.3,5-0.8,9.4-1.6,13.4c26.4,10,43.6,34.5,43.6,57.7c0,19-7.2,33.3-23.9,45.8
                    c-11.9,8.9-15.9,14.9-16.8,24.7C112.7,154.7,148.1,128.5,148.1,87z"/>
                  <path d="M104.8,124c12.7-9.8,19.1-21.2,19.1-37.1c0-19.7-15.9-40.5-36.3-47.6c-3,7.6-7.7,12.4-7.7,12.5
                    c17.5,6.1,28.3,19.5,28.3,35.2c0,7.6-3.4,19.6-16.2,28.8c-22.4,16.1-25.6,22-25.6,59.6c5.3,0.5,9.9,0.5,15.2,0.1
                    C81.5,143.3,85.7,138.8,104.8,124z"/>
                </svg>
                <div id="scroll-down"><span class="arrow-down">
                <!-- css generated icon -->
                </span></div>
              </article></a>
            </section>

            <default-section title="Grão">
                <div class="about" v-html="descricao"></div>
            </default-section>

            <default-section title="O que fazemos">
                <default-slide v-for="category in categories"
                               :title="category.name"
                               :bg="category.img">
                  {{ category.description }}
                </default-slide>
            </default-section>

            <default-section>
              <div :class="['mediaBox', { slidein : mediaBox.show }]">
                <span class="close" @click="summonMedia()"></span>
                <h2 v-if="mediaBox.link"><a :href="mediaBox.link" target="_blank">{{ mediaBox.title }}</a></h2>
                <h2 v-else>{{ mediaBox.title }}</h2>
                <div class="loadedContent">
                  {{ mediaBox.content }}
                </div>
              </div>

              <h1 class="categories">
                <button type="button"
                        v-for="category in categories"
                        :class="{ selected: !category.active, highlighted: category.highlight }"
                        @click="categories[category.key].bound = !categories[category.key].bound"
                        @mouseenter="categoryTrigger(category.key, true)"
                        @mouseleave="categoryTrigger(category.key, false)">
                  <h2>{{ category.name }}</h2>
                </button>
              </h1>

              <div class="works">
                <div v-for="work in works"
                    :style="{ 'background-image': 'url(' + work.bg + ')' }"
                    :class="['singleWork', {showCat: categories[work.type].showCat || work.highlight, hideWork: !categories[work.type].active}]"
                    @mouseenter="highlightTrigger(work)"
                    @mouseleave="highlightTrigger(work)"
                    @click="summonMedia(work)">
                    <div class="caption"><span>{{ work.name }}</span></div>
                </div>
              </div>
            </default-section>

            <default-section title="Nossos Clientes">
              <div class="clientes">
                <div v-for="cliente in clientes">
                  <image :src="'img/' + cliente.img" :alt="cliente.alt" />
                </div>
              </div>
            </default-section>

            <section class="section">
              <article class="footer">
                <div class="footer-logo"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 337.4 175.6" style="enable-background:new 0 0 337.4 175.6;" xml:space="preserve">
                	<path d="M201.3,103.5c0,1.9,1.4,23.1-19.7,23.1c-15.3,0-19.1-11.5-19.6-16.8h9.4c0.4,2,1.7,8.4,10.3,8.4c12.1,0,10.3-12.9,10.3-18.3
                		c-5.3,6.6-18.3,8.5-26.4-0.3c-7.8-8.4-6.3-23.6-0.4-30.3c9.9-11,24.6-6.2,26.8-2.1v-3.4h9.4V103.5z M180.9,71.2
                		c-15,0-14.9,26.1,0,26.1C195.9,97.3,196.3,71.2,180.9,71.2z"/>
                	<path d="M213.1,63.9h9.4v2.4c1.7-1.8,9.4-6.2,17.2-1.1l-3.1,8.6c-9.8-5.1-14.1,0.5-14.1,9.7v21h-9.4V63.9z"/>
                	<path d="M274.9,63.9v3.5c-6.8-8.8-31.8-6.6-31.8,16.7c0,22.2,22.6,25.9,31.8,17.4v3h9.4V63.9H274.9z M263.8,97.3
                		c-14.9,0-15.2-26,0.1-26C279.4,71.2,279.5,97.3,263.8,97.3z"/>
                	<path d="M315.8,62.8c28.6,0,29,42.8-0.2,42.8C287.2,105.6,286.9,62.8,315.8,62.8z M315.8,97.3c16.1,0,16.3-26,0-26
                		C300,71.2,299.5,97.3,315.8,97.3z"/>
                	<path d="M257.3,56.9l-5.5-4.6c3.4-4.9,5.7-7.7,10.6-7.7c5.3,0,10.7,4.4,13.1,4.4c1.6,0,3.3-1.5,5.2-4.5l5.3,4.4
                		c-2.7,5.3-6.3,8-10.8,8C267.1,56.8,261.9,47.3,257.3,56.9z"/>
                	<path d="M0,87.5c0,33.6,22.2,61.7,55.2,70.2c0.3-4.9,0.8-9.1,1.5-13c-26.9-8.1-42.3-28.9-42.3-57.2c0-20.7,7.4-36.5,25.9-50.9
                		c7.5-5.8,14.5-11.5,15.8-20.8C23.1,24,0,53.4,0,87.5z"/>
                	<path d="M81.2,0c-7.7,0.9-13,7.2-13.9,16.7c-1.5,15.5-12.4,23.7-15.2,25.6C34.7,54.1,25.2,67.3,25.2,87.1
                		c0,21.8,14.5,41.3,35.3,47.4c2.2-5.6,4.8-9.1,6.6-11c0-0.1,0.1-0.1,0.1-0.2C41.7,116.8,39.7,94,39.7,87.1c0-8.7,5.3-19.9,17.1-28.5
                		C74.4,45.8,81.2,37.5,81.2,0z"/>
                	<path d="M147.8,87c0-33.3-24-63.8-55.8-71.1c-0.3,5-0.8,9.4-1.6,13.4c26.4,10,43.6,34.5,43.6,57.7c0,19-7.2,33.3-23.9,45.8
                		c-11.9,8.9-15.9,14.9-16.8,24.7C112.4,154.7,147.8,128.5,147.8,87z"/>
                	<path d="M104.4,124c12.7-9.8,19.1-21.2,19.1-37.1c0-19.7-15.9-40.5-36.3-47.6c-3,7.6-7.7,12.4-7.7,12.5C97,57.9,107.8,71.3,107.8,87
                		c0,7.6-3.4,19.6-16.2,28.8c-22.4,16.1-25.6,22-25.6,59.6c5.3,0.5,9.9,0.5,15.2,0.1C81.2,143.3,85.4,138.8,104.4,124z"/>
                </svg></div>
                <div class="contact">
                  <h3><a href="mailto:contato@graofilmes.com.br">contato@grãofilmes.com.br</a></h3>
                </div>
              </article>
            </section>
        </full-page>
    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="vue-fullpage.js"></script>
    <script src="vue.js"></script>

  </body>
</html>
