* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

section{
  max-height: 100vh;
}

article{
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}
.section::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  width: 20px;
  height: 20px;
  border: solid #000;
  border-top: 0;
  border-left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.section:first-child:before{
  border: solid #fff;
  border-top: 0;
  border-left: 0;
  z-index: 4;
}

h1, h2 {
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  color: #C63D0F;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  top: 15vh;
  padding-right: 2vw;
  z-index: 99;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-1em);
      -ms-transform: translateX(-1em);
          transform: translateX(-1em);
}

h2 {
  font-size: 1.5em;
}

/* Home --------------------------------------------------------------------- */

.home {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home svg{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 60vw;
  max-height: 60vh;
  fill: #fff;
  z-index: 999;
}
.home:after {
  content: '';
  width: 150%;
  height: 50vh;
  position: absolute;
  -webkit-transform: translateY(45%) rotate(-5deg);
      -ms-transform: translateY(45%) rotate(-5deg);
          transform: translateY(45%) rotate(-5deg);
  bottom: 0;
  left: -16vw;
  z-index: 0;
  background-color: #000;
}

/* Sobre -------------------------------------------------------------------- */

.about {
  padding-left: 5vw;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateX(0.5em);
      -ms-transform: translateX(0.5em);
          transform: translateX(0.5em);
  opacity: 0;
}
.about-logo { top: 5vh }
.about-logo svg { fill: #fff; width: 280px; max-width: 50vw; max-height: 30vh; }

/* Serviços ----------------------------------------------------------------- */
.wbg{background-color: #fff;}

.slide-img{
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide h2, .slide span {
  display: inline-block;
  margin-left: 20vw;
  padding: 1vh 2vw;
}
.slide span { margin-top: 5vh; }
.slide:nth-child(2n) .slide-img{ right: 0; }
.slide:nth-child(2n) h2, .slide:nth-child(2n) span { margin-left: 0; margin-right: 20vw; }
.slide:nth-child(2n) h2 {float: right;}

/* Trabalhos ----------------------------------------------------------------- */

.categories {
    display: flex;
    flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -7.5vh;
  width: 100%;
  align-self: flex-start;
  position: relative;
  top: 0;
}
.categories div {text-align: center;}

button{
  display: inline-block;
  text-decoration: none;
  background-color: inherit;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  border: solid 0px #C63D0F;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}
button:hover {
  border-width: 4px;
}
.selected { opacity: .3 }
button.highlighted { border-width: 2px; }

.works {
  width: 100%;
  height: 100%;
  padding: 5vh 5vw 10vh 5vw;
  display: flex;
  flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}

.works > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.works > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.works > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.works > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.works > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.works > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.works > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.works > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.works > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.works > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.works > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.works > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.works > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.works > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.works > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.works > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.works > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.works > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}
.singleWork {
  background-size: cover;
  background-position: center;
  position: relative;
  flex-basis: 16.5%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.caption {
    position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(198, 61, 15, .3);
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.caption span { background: #fff; display: block; width: 100%; text-align: center;}
.showCat .caption { opacity: 1 }
.singleWork:nth-child(n+20) { display: none; }
.hideWork {opacity: .3}

.mediaBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 10vw;
  color: #fff;
  background-color: #000;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  z-index: 999;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
}
.mediaBox.slidein {
  -webkit-transform: translateX(2%);
      -ms-transform: translateX(2%);
          transform: translateX(2%);
}
.mediaBox img {
    max-height: 30vh;
    margin: 2vh auto 0 auto;
    object-fit: cover;
    width: 100%;
    object-position: center;
}
.mediaBox a { color: #C63D0F; text-decoration: underline;}
.mediaBox audio { width: 100% }
.mediaBox iframe { width: 100%; height: 22.5vw; padding-top: 2vh;}
.mediaBox .floatIframe { width: 40vw; height: 22.5vw; float: right; padding: 0 2vw; }
.close {
  position: relative;
  display: inline-block;
  margin: 2vh 5vw;
  margin-left: -7.5vw;
  width: 2vw;
  height: 2vw;
  overflow: hidden;
  cursor: pointer;
}
.close:hover::before, .close:hover::after {
  background: #C63D0F;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
.close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Clientes------------------------------------------------------------------ */

.clientes {
    display: flex;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  -ms-grid-columns: (1fr)[6];
  -ms-grid-rows: (1fr)[2];
  width: 100%;
}
.clientes div{ display: -webkit-box; display: -ms-flexbox; display: flex; flex: 1 1 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 2vh 2vw; }
.clientes div img { margin: auto; max-width: 100%; -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: .8;}

/* Contato ------------------------------------------------------------------ */

.footer {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #000;
  padding: 15% 0;
  -webkit-clip-path: polygon(0 6%, 100% 2%, 100% 100%, 0 100%);
          clip-path: polygon(0 6%, 100% 2%, 100% 100%, 0 100%);
}
.footer div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo {
  border-right: 3px solid #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer-logo svg{
  fill: #fff;
  padding: 15%;
  width: 100%;
}
.contact {
  margin: auto;
  font-weight: 200;
  font-size: 2vw;
}

/* Animation */

.show-title, .show-letters {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
}

/* adapt */

@media (orientation: portrait) {
  body {font-size: 2vh;}
  article {padding: 30px; -webkit-box-align: end; -ms-flex-align: end; font-size: 1em;}
  button {height: 10vh; width: auto; border: none; border-bottom: solid 0px #C63D0F; border-radius: 0;}
  h1 { font-size: 5vh; }
  h2, .pos-left .slide-content, .pos-right .slide-content { left: 0vw; }
  .pos-left .slide-content, .pos-right .slide-content { left: 0vw; top: 25vh; max-width: calc(100% - 10vw); right: auto;}
  .about { font-size: 2vh; }
  .categories { margin-top: 0; }
  .slide-content {margin-top: 20vh;}
  .slide-img {width: 100%; height: 50%;}
  .slide h2, .slide span { margin-left: 0; }
  #fp-nav {top: unset; bottom: 5vh}
  .fp-controlArrow.fp-prev {left: 10px;}
  .fp-controlArrow.fp-next {right: 10px;}
  .works { -ms-grid-rows: (1fr)[6]; grid-template-rows: repeat(6, 1fr);  -ms-grid-columns: (1fr)[3];  grid-template-columns: repeat(3, 1fr); padding-bottom: 12.5vh;}
  .works > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;}
  .works > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;}
  .works > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;}
  .works > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;}
  .works > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;}
  .works > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;}
  .works > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;}
  .works > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;}
  .works > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;}
  .works > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;}
  .works > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;}
  .works > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;}
  .works > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;}
  .works > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;}
  .works > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;}
  .works > *:nth-child(16) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;}
  .works > *:nth-child(17) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;}
  .works > *:nth-child(18) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;}
  .close { width: 3vh; height: 3vh; }
  .clientes div img {max-height: 50px;}
  .footer {  -ms-grid-columns: 1fr;  grid-template-columns: 1fr; -ms-grid-rows: 1fr 1fr; grid-template-rows: 1fr 1fr; padding: 0 15%;}
  .footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;}
  .footer > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;}
  .footer div { height: 100%; }
  .footer-logo { border-right: 0 ; border-bottom: 3px solid #fff; }
}

@media (max-width: 250px) {
  .about { font-size: 1.5vh; }
}
