<template>
  <div class="atividades">
    <h1>O que fazemos</h1>
      <v-touch class="sessao" @tap="$router.push({ name: 'home', params: {id: 3, filtro: 'cinema'} });">
        <h2>
          Cinema
          <svg class="icon" viewBox="0 0 24 24"><path d="M18.6,3l2.2,4.5h-3.3L15.3,3h-2.2l2.2,4.5H12L9.8,3H7.6l2.2,4.5H6.5L4.3,3H3.2C2,3,1,4,1,5.3l0,13.5C1,20,2,21,3.2,21h17.6	c1.2,0,2.2-1,2.2-2.2V3H18.6z"/></svg>
        </h2>
        <p>Nossos projetos cinematográficos contam histórias que buscam maximizar a conexão com o público, explorando formatos consolidados como o documentário, o vídeoclipe, etc.</p>
      </v-touch>
      <v-touch class="sessao" @tap="$router.push({ name: 'home', params: {id: 3, filtro: 'midias'} });">
        <h2>
          Novas Mídias
          <svg class="icon" viewBox="0 0 24 24"><path d="M21,3H3C1.9,3,1,3.9,1,5v12c0,1.1,0.9,2,2,2h5v2h8v-2h5c1.1,0,2-0.9,2-2l0-12C23,3.9,22.1,3,21,3z M21,17H3V5h18V17z M11.3,15.6v-3.9H9.9l2.8-5.3v3.9h1.4L11.3,15.6z"/></svg>
        </h2>
        <p>A revolução digital trouxe ainda mais velocidade e conectividade ao mundo, nossos projetos em novas narrativas buscam investigar formas surpreendentes de contar histórias para públicos personalizados.</p>
      </v-touch>
      <v-touch class="sessao" @tap="$router.push({ name: 'home', params: {id: 3, filtro: 'producao'} });">
        <h2>
          Produção Cultural
          <svg class="icon" viewBox="0 0 24 24"><path d="M7 14c-1.66 0-3 1.34-3 3 0 1.31-1.16 2-2 2 .92 1.22 2.49 2 4 2 2.21 0 4-1.79 4-4 0-1.66-1.34-3-3-3zm13.71-9.37l-1.34-1.34c-.39-.39-1.02-.39-1.41 0L9 12.25 11.75 15l8.96-8.96c.39-.39.39-1.02 0-1.41z"/></svg>
        </h2>
        <p>Além de contar histórias e desenvolver tecnologias, buscamos produzir impacto social, seja realizando oficinas, produzindo mostras ou criando materiais de difusão artística e política.</p>
      </v-touch>
  </div>
</template>

<script>
export default {
  name: 'Atividades',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .atividades {
    display: grid;
    grid-auto-columns: 1fr;
    padding-right: 3vw;
  }
  p {margin-top: 0; position: relative;}
  p::after {
    content: " veja +";
    animation: 5s rgbTitle infinite;
  }
  h1 { margin: 0; padding-top: 0}
  h2 { margin-top: 0; padding: 0;position: relative;}

  .icon {
    position: absolute;
    width: auto;
    height: 100%;
    bottom: 0;
    opacity: .2;
    animation: 5s rgbPath infinite;
  }
  .sessao {padding-left: 15vw; position: relative; cursor: pointer;}

  @media (orientation: landscape) {
    .sessao {
      padding-left: 10vw;
      padding-left: 10vw;
      display: grid;
      grid-template-columns: 1fr 4fr;
    }
    .sessao p {padding: 0 4vw 0 0;}
    .sessao h2 {padding: 0 2vw 0 0;}
    .icon {width: 100%; height: 100%; left: 2vw}
  }

  @media (orientation: portrait) and (min-width:600px) { /* Tablets V */
    .sessao {
      padding-left: 10vw;
      padding-left: 10vw;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    .sessao p {padding: 0 4vw;}
    .sessao h2 {padding: 0 2vw 0 0;}
    .icon {width: 100%; height: 100%; left: 2vw}
  }

  @media (orientation: landscape) and (min-width:800px) { /* Tablets H */
    .sessao {
      padding-left: 10vw;
      padding-left: 10vw;
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    .sessao p {padding: 0 4vw;}
    .sessao h2 {padding: 0 2vw 0 0;}
    .icon {width: 100%; height: 100%; left: 2vw}
  }

</style>
