<template>
  <nav>
    <router-link :to="{ name: 'home', params: {id: 0} }" class="dot"></router-link>
    <router-link :to="{ name: 'home', params: {id: 1} }" class="dot"></router-link>
    <router-link :to="{ name: 'home', params: {id: 2} }" class="dot"></router-link>
    <router-link :to="{ name: 'home', params: {id: 3} }" class="dot"></router-link>
    <router-link :to="{ name: 'home', params: {id: 4} }" class="dot"></router-link>
    <router-link :to="{ name: 'home', params: {id: 5} }" class="dot"></router-link>
    <div class="espaco"></div>
  </nav>
</template>

<script>
export default {
  name: 'Navegacao',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
nav {
  position: absolute;
  bottom: 0; left: 0;
  width: 10vw; height: 75vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: all .5s ease-in-out;
}

nav::after {
  content: '';
  position: absolute;
  left: 49%; top: 1%; height:94%;
  border-left: 2px solid black;
}
nav::before {
  content: '';
  position: absolute;
  bottom: 3.75vh;
  display: block;
  margin: auto;
  padding: 0;
  width: 1vh; height: 1vh;
  min-width: 1vw; min-height: 1vw;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(135deg);
}

.dot {
  width: 2vh; height: 2vh;
  max-width: 2vw; max-height: 2vw;
  background-color: #000;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

.pannel0 .dot:nth-child(1) {width: 3vh; height: 3vh; max-width: 3vw; max-height: 3vw; animation: 5s rgbDot infinite;}
.pannel1 .dot:nth-child(2) {width: 3vh; height: 3vh; max-width: 3vw; max-height: 3vw; animation: 5s rgbDot infinite;}
.pannel2 .dot:nth-child(3) {width: 3vh; height: 3vh; max-width: 3vw; max-height: 3vw; animation: 5s rgbDot infinite;}
.pannel3 .dot:nth-child(4) {width: 3vh; height: 3vh; max-width: 3vw; max-height: 3vw; animation: 5s rgbDot infinite;}
.pannel4 .dot:nth-child(5) {width: 3vh; height: 3vh; max-width: 3vw; max-height: 3vw; animation: 5s rgbDot infinite;}
.pannel5 .dot:nth-child(6) {width: 3vh; height: 3vh; max-width: 3vw; max-height: 3vw; animation: 5s rgbDot infinite;}

.pannel0 nav {opacity: 0;}
.pannel5 nav {opacity: 0;}

@keyframes rgbDot {
  0% {
    box-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
  }
  25% {
    box-shadow: 0px 1.5px 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px 1.5px 0 rgba(0, 0, 255, 0.8);
  }
  45% {
    box-shadow: 1.5px 0 0 rgba(251, 0, 0, 0.8), 0 1.5px 0 rgba(0, 233, 0, 0.8), -1.5px 0 0 rgba(0, 0, 255, 0.8);
  }
  50% {
    box-shadow: -1.5px -1.5px 0 rgba(251, 0, 0, 0.8), 0 -1.5px 0 rgba(0, 233, 0, 0.8), 1.5px 1.5px 0 rgba(0, 0, 255, 0.8);
  }
  55% {
    box-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), -1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px 0 0 rgba(0, 0, 255, 0.8);
  }
  90% {
    box-shadow: -1.5px 1.5px 0 rgba(251, 0, 0, 0.8), 0 1.5px 0 rgba(0, 233, 0, 0.8), 1.5px 0 0 rgba(0, 0, 255, 0.8);
  }
  100% {
    box-shadow: 1.5px 1.5px 0 rgba(251, 0, 0, 0.8), 1.5px -1.5px 0 rgba(0, 233, 0, 0.8), -1.5px 0 0 rgba(0, 0, 255, 0.8);
  }
}

@media (orientation: portrait) {
  nav {width: 15vw}
}
</style>
