<template>
  <div class="parceiros">
    <h1>Parceiros</h1>
    <div class="logos_parceiros">
      <div v-for="cliente in clientes">
        <img :src="require('../assets/parceiros/' + cliente.img)" :alt="cliente.alt" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Parceiros',
  data() {
    return {
      clientes: [
        {alt: "Museu da Imagem e do Som", img: "mis-logo.png"},
        {alt: "Sesc", img: "sesc-logo.png"},
        {alt: "Secretaria da cultura ", img: "CULTURA_H_Traco.png"},
        {alt: "Instituto Cultura em Movimento", img: "icem.jpg"},
        {alt: "A Próxima Companhia", img: "proxima-logo.webp"},
        {alt: "Revista Agreste", img: "agreste-logo.png"},
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .logos_parceiros {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logos_parceiros img{
    max-width: 100%; max-height: 100%;
    padding: 5vh 5vw;
  }
  @media (orientation: portrait) {
    .logos_parceiros { grid-template-columns: 1fr 1fr; }
  }
</style>
