<template>
  <div :class="['trabalhos', filter]">
    <router-link :to="{ name: 'home', params: {id: 3, filtro: filter == 'cinema' ? null : 'cinema', obra: null} }" class="cinemaTag">
      <svg viewBox="0 0 24 24"><path d="M18.6,3l2.2,4.5h-3.3L15.3,3h-2.2l2.2,4.5H12L9.8,3H7.6l2.2,4.5H6.5L4.3,3H3.2C2,3,1,4,1,5.3l0,13.5C1,20,2,21,3.2,21h17.6	c1.2,0,2.2-1,2.2-2.2V3H18.6z"/></svg>
    </router-link>
    <router-link :to="{ name: 'home', params: {id: 3, filtro: filter == 'midias' ? null : 'midias', obra: null} }" class="midiasTag">
      <svg viewBox="0 0 24 24"><path d="M21,3H3C1.9,3,1,3.9,1,5v12c0,1.1,0.9,2,2,2h5v2h8v-2h5c1.1,0,2-0.9,2-2l0-12C23,3.9,22.1,3,21,3z M21,17H3V5h18V17z M11.3,15.6v-3.9H9.9l2.8-5.3v3.9h1.4L11.3,15.6z"/></svg>
    </router-link>
    <router-link :to="{ name: 'home', params: {id: 3, filtro: filter == 'producao' ? null : 'producao', obra: null} }" class="producaoTag">
      <svg viewBox="0 0 24 24"><path d="M7 14c-1.66 0-3 1.34-3 3 0 1.31-1.16 2-2 2 .92 1.22 2.49 2 4 2 2.21 0 4-1.79 4-4 0-1.66-1.34-3-3-3zm13.71-9.37l-1.34-1.34c-.39-.39-1.02-.39-1.41 0L9 12.25 11.75 15l8.96-8.96c.39-.39.39-1.02 0-1.41z"/></svg>
    </router-link>
    <div class="filtro">
      <h2 v-if="filter == 'cinema'">Cinema</h2>
      <h2 v-else-if="filter == 'midias'">Novas Mídias</h2>
      <h2 v-else-if="filter == 'producao'">Produção Cultural</h2>
      <h2 v-else>Nossos trabalhos</h2>
    </div>
    <section v-for="item in itens">
      <router-link :to="{ name: 'home', params: {id: 3, filtro: filter, obra: item.id} }">
        <img :src="require('../assets/trabalhos/' + item.img)" :alt="item.name" />
      </router-link>
    </section>
    <transition name="enter">
      <v-touch v-if="obra" class="portifolio" @swiperight="$router.push({ name: 'home', params: {id: 3, filtro: filter, obra: null} })">
        <img class="transparencia" :src="require('../assets/trabalhos/' + works[obra-1].img)" :alt="works[obra-1].name" />
        <div class="obra">
          <router-link :to="{ name: 'home', params: {id: 3, filtro: filter, obra: null} }" class="close">×</router-link>
          <h1>{{ works[obra-1].name }}</h1>
          <article v-html="works[obra-1].texto" class="texto"></article>
          <aside v-if="works[obra-1].link">
              <a :href="works[obra-1].link" target="_blank">
                <h2>Acesse</h2>
                <svg viewBox="0 0 457.03 457.03">
              	   <path d="M421.512,207.074l-85.795,85.767c-47.352,47.38-124.169,47.38-171.529,0c-7.46-7.439-13.296-15.821-18.421-24.465
              		l39.864-39.861c1.895-1.911,4.235-3.006,6.471-4.296c2.756,9.416,7.567,18.33,14.972,25.736c23.648,23.667,62.128,23.634,85.762,0
              		l85.768-85.765c23.666-23.664,23.666-62.135,0-85.781c-23.635-23.646-62.105-23.646-85.768,0l-30.499,30.532
              		c-24.75-9.637-51.415-12.228-77.373-8.424l64.991-64.989c47.38-47.371,124.177-47.371,171.557,0
              		C468.869,82.897,468.869,159.706,421.512,207.074z M194.708,348.104l-30.521,30.532c-23.646,23.634-62.128,23.634-85.778,0
              		c-23.648-23.667-23.648-62.138,0-85.795l85.778-85.767c23.665-23.662,62.121-23.662,85.767,0
              		c7.388,7.39,12.204,16.302,14.986,25.706c2.249-1.307,4.56-2.369,6.454-4.266l39.861-39.845
              		c-5.092-8.678-10.958-17.03-18.421-24.477c-47.348-47.371-124.172-47.371-171.543,0L35.526,249.96
              		c-47.366,47.385-47.366,124.172,0,171.553c47.371,47.356,124.177,47.356,171.547,0l65.008-65.003
              		C246.109,360.336,219.437,357.723,194.708,348.104z"/>
                </svg>
              </a>
            </aside>
            <aside v-if="works[obra].video" @click="video = works[obra].video">
              <h2>Assista</h2>
              <svg viewBox="0 0 24 24"><path d="M22.6,9.9l-1.4,1.4l-1.4-1.4l1.4-1.4l-5.7-5.7l-1.4,1.4l-1.4-1.4l1.4-1.4L12.7,0L0,12.7l1.4,1.4l1.4-1.4l1.4,1.4l-1.4,1.4
              	l5.7,5.7l1.4-1.4l1.4,1.4l-1.4,1.4l1.4,1.4L24,11.3L22.6,9.9z M5.6,12.7l-1.4-1.4l1.4-1.4l1.4,1.4L5.6,12.7z M8.5,9.9L7.1,8.5
              	l1.4-1.4l1.4,1.4L8.5,9.9z M11.3,7.1L9.9,5.6l1.4-1.4l1.4,1.4L11.3,7.1z M12.7,19.8l-1.4-1.4l1.4-1.4l1.4,1.4L12.7,19.8z M15.5,16.9
              	l-1.4-1.4l1.4-1.4l1.4,1.4L15.5,16.9z M18.4,14.1l-1.4-1.4l1.4-1.4l1.4,1.4L18.4,14.1z"/></svg>
          </aside>
        </div>
      </v-touch>
    </transition>
    <transition name="enter">
      <div v-if="video != '' && isNaN(video) " class="video">
        <div class="close" @click="video = ''">×</div>
        <youtube ref="youtube" :video-id="video" :player-vars="playerVars" @ended="video = ''"></youtube>
      </div>
      <div v-else-if="video != ''" class="video">
        <div class="close" @click="video = ''">×</div>
        <vimeo-player ref="player" :video-id="video" :options="options" @ended="video = ''"></vimeo-player>
      </div>
    </transition>
  </div>
</template>

<script>
import works from '../projetos.js'

export default {
  name: 'Trabalhos',
  data() {
    return {
      filter: this.$route.params.filtro ? this.$route.params.filtro : null,
      obra: this.$route.params.obra ? this.$route.params.obra : null,
      video: '',
      options: { color: 'fff', autoplay: true, title: false, byline: false,  },
      playerVars: {autoplay: 1, modestbranding: 1, showinfo: 0},
      works: works
    }
  },
  computed: {
    itens() {
      return this.filter != null ? this.works.filter(w => w.type == this.filter) : this.works.slice(0,8);
    },
  },
  watch: {
   '$route': function(to, from) {
     this.filter = this.$route.params.filtro ? this.$route.params.filtro : null;
     this.obra = this.$route.params.obra !== null? this.$route.params.obra : null;
     this.video = '';
   }
 }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .trabalhos {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0 10vw;
    grid-template: 'cinema midias producao texto texto' 15vh
                    'destaque destaque destaque a a' 1fr
                    'destaque destaque destaque c b' 1fr
                    'd d e c b' 1fr
                    'f f e g g' 1fr / 1fr 1fr 1fr 1fr 1fr;
  }

  .portifolio {
    position: absolute;
    top: 0; left: 0; z-index: 99;
    width: 100vw; height: 100vh;
    background-color: #000;
  }
  .enter-enter-active, .enter-leave-active {
  transition: all .5s ease-in-out;
  }
  .enter-enter, .enter-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    left: 100vw;
  }
  .portifolio .transparencia {
    opacity: .2;
  }
  .obra {
    position: absolute;
    top: 0; left: 0; z-index: 99;
    width: 100vw; height: 100vh;
    color: #fff;
    display: grid;
    grid-template: 'name name' 30vh
                   'texto link' 35vh
                   'texto video' 35vh / 2fr 1fr;
  }
  .obra h1 {grid-area: name;}
  .obra article { margin: 0 5vw 10vh 5vw; position: relative;}
  .obra >>> p {margin: 0; padding: 0;}
  .obra >>> ul {padding-left: 2vw; margin: 2vh 0 0 0; font-size: small;}
  .obra >>> li {list-style: none;}
  .texto {grid-area: texto;}
  aside {cursor: pointer; text-align: center;}
  aside svg {height:60%; padding-top: 5%; fill: #fff; animation: 5s rgbPath infinite;}
  aside h2 {margin: 0;}

  .video {
    position: absolute;
    top: 0; left: 0; z-index: 99;
    width: 100vw; height: 100vh;
    background-color: #000;
  }
  .video >>> iframe {width: 100vw; height: 100vh;}
  .close {
    position: absolute;
    top:2vh; right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10vh; height: 10vh;
    max-width: 10vw; max-height: 10vw;
    color: #fff;
    font-size: 2em;
    padding: 1vh;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: 5s rgbClose infinite;
  }

  .filtro {grid-area: texto; display: flex; align-items: center;}
  .filtro h2 {padding: 0; margin: 1vh 0 0 1vw;}

  .cinemaTag   {grid-area: cinema}
  .midiasTag   {grid-area: midias}
  .producaoTag {grid-area: producao}

  .cinemaTag, .midiasTag, .producaoTag {cursor: pointer; margin: 0 1vw; padding: 0 1vw; opacity: .5; display: flex; align-items: center; justify-content: space-around; transition: all .5s ease-in-out; }

  .cinema .cinemaTag     {padding: 0; opacity: 1; animation: 5s rgbPath infinite;}
  .midias .midiasTag     {padding: 0; opacity: 1; animation: 5s rgbPath infinite;}
  .producao .producaoTag {padding: 0; opacity: 1; animation: 5s rgbPath infinite;}

  .cinema, .midias, .producao {
    grid-template: 'cinema midias producao texto texto' 15vh
                   'destaque destaque destaque a a' 1fr
                   'destaque destaque destaque c b' 1fr
                   'd e f g b' 1fr
                   'h e i i j' 1fr / 1fr 1fr 1fr 1fr 1fr;
  }

  section {position: relative; margin: 1vh; transition: all .5s ease-in-out;}
  section:nth-of-type(1) {grid-area: destaque}
  section:nth-of-type(2) {grid-area:  a}
  section:nth-of-type(3) {grid-area:  b}
  section:nth-of-type(4) {grid-area:  c}
  section:nth-of-type(5) {grid-area:  d}
  section:nth-of-type(6) {grid-area:  e}
  section:nth-of-type(7) {grid-area:  f}
  section:nth-of-type(8) {grid-area:  g}
  section:nth-of-type(9) {grid-area:  h}
  section:nth-of-type(10) {grid-area: i}
  section:nth-of-type(11) {grid-area: j}
  img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  @keyframes rgbClose {
    0% {
      box-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
      text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
    }
    25% {
      box-shadow: 0px 1.5px 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px 1.5px 0 rgba(0, 0, 255, 0.8);
      text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
    }
    45% {
      box-shadow: 1.5px 0 0 rgba(251, 0, 0, 0.8), 0 1.5px 0 rgba(0, 233, 0, 0.8), -1.5px 0 0 rgba(0, 0, 255, 0.8);
      text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
    }
    50% {
      box-shadow: -1.5px -1.5px 0 rgba(251, 0, 0, 0.8), 0 -1.5px 0 rgba(0, 233, 0, 0.8), 1.5px 1.5px 0 rgba(0, 0, 255, 0.8);
      text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
    }
    55% {
      text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);      box-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), -1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px 0 0 rgba(0, 0, 255, 0.8);

    }
    90% {
      box-shadow: -1.5px 1.5px 0 rgba(251, 0, 0, 0.8), 0 1.5px 0 rgba(0, 233, 0, 0.8), 1.5px 0 0 rgba(0, 0, 255, 0.8);
      text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
    }
    100% {
      box-shadow: 1.5px 1.5px 0 rgba(251, 0, 0, 0.8), 1.5px -1.5px 0 rgba(0, 233, 0, 0.8), -1.5px 0 0 rgba(0, 0, 255, 0.8);

    }
  }

  @media (orientation: portrait) {
    .trabalhos {
      padding: 0;
      grid-template: 'cinema   texto    texto    texto   ' 7.5vh
                     'midias   destaque destaque destaque' 7.5vh
                     'producao destaque destaque destaque' 7.5vh
                     '.        destaque destaque destaque' 3fr
                     '.        a a b' 4fr
                     '.        c d e' 2fr
                     '.        c d f' 2fr
                     '.        g g f' 2fr / 15vw 1fr 1fr 1fr;
    }
    .cinema, .midias, .producao {
      grid-template: 'cinema   texto    texto    texto   ' 7.5vh
                     'midias   destaque destaque destaque' 7.5vh
                     'producao destaque destaque destaque' 7.5vh
                     '.        destaque destaque destaque' 3fr
                     '.        a a b' 2fr
                     '.        c d b' 2fr
                     '.        c e e' 2fr
                     '.        f g h' 2fr
                     '.        i g j' 2fr / 15vw 1fr 1fr 1fr;
    }
    section {margin: 1vw;}
    .texto {padding-left: 1vw;}
    .obra {
      grid-template: 'name name' 30vh
                     'texto texto' 50vh
                     'link video' 15vh / 1fr 1fr;
    }
  }

  @media (orientation: landscape) and (min-width:800px) { /* Tablets H */
    .obra {
      grid-template: 'name name' 30vh
                     'texto texto' 1fr
                     'link video' 1fr / 1fr 1fr;
    }
    aside {width: auto; height: 50%; margin: 10% auto;}
    .trabalhos{
      grid-template: 'cinema midias producao texto texto' 10vh
                      'destaque destaque destaque a a' 1fr
                      'destaque destaque destaque c b' 1fr
                      'd d e c b' 1fr
                      'f f e g g' 1fr / 1fr 1fr 1fr 1fr 1fr;
    }
    .cinema, .midias, .producao {
      grid-template: 'cinema midias producao texto texto' 10vh
                     'destaque destaque destaque a a' 1fr
                     'destaque destaque destaque c b' 1fr
                     'd e f g b' 1fr
                     'h e i i j' 1fr / 1fr 1fr 1fr 1fr 1fr;
    }
  }
</style>
