<template>
  <div class="sobre">
    <p class="HeaderLogo">
      <svg viewBox="0 0 178 83">
        <path d="M41.8,59.5c0,1.9,1.4,23.1-19.7,23.1C6.8,82.6,3,71.1,2.5,65.8h9.4c0.4,2,1.7,8.4,10.3,8.4c12.1,0,10.3-12.9,10.3-18.3
        	c-5.3,6.6-18.3,8.5-26.4-0.3C-1.7,47.2-0.2,32,5.7,25.3c9.9-11,24.6-6.2,26.8-2.1v-3.4h9.4v39.7H41.8z M21.4,27.2
        	c-15,0-14.9,26.1,0,26.1C36.4,53.3,36.8,27.2,21.4,27.2z"/>
        <path d="M53.6,19.9H63v2.4c1.7-1.8,9.4-6.2,17.2-1.1l-3.1,8.6C67.3,24.7,63,30.3,63,39.5v21h-9.4L53.6,19.9L53.6,19.9z"/>
        <path d="M115.4,19.9v3.5c-6.8-8.8-31.8-6.6-31.8,16.7c0,22.2,22.6,25.9,31.8,17.4v3h9.4V19.9H115.4z M104.3,53.3
        	c-14.9,0-15.2-26,0.1-26C119.9,27.2,120,53.3,104.3,53.3z"/>
        <path d="M156.3,18.8c28.6,0,29,42.8-0.2,42.8C127.7,61.6,127.4,18.8,156.3,18.8z M156.3,53.3c16.1,0,16.3-26,0-26
        	C140.5,27.2,140,53.3,156.3,53.3z"/>
        <path d="M97.8,12.9l-5.5-4.6c3.4-4.9,5.7-7.7,10.6-7.7c5.3,0,10.7,4.4,13.1,4.4c1.6,0,3.3-1.5,5.2-4.5l5.3,4.4
        	c-2.7,5.3-6.3,8-10.8,8C107.6,12.8,102.4,3.3,97.8,12.9z"/>
      </svg>
    </p>
    <div class="paragrafo"><p>Com suas raízes na película cinematográfica, a <b>Grão</b> nasce com forte acento de brasilidade, referenciando também ícones de nossa cultura, como praias e cafezais.</p></div>
    <img class="ilustracao" :src="require('../assets/trabalhos/beijo.jpg')" />
    <img class="ilustracao" :src="require('../assets/trabalhos/agreste.jpg')" />
    <div class="paragrafo"><p>Atualmente, a <b>Grão</b> produz conteúdos culturais críticos e inovadores, desenvolvendo tecnologias e almejando o impacto social.</p></div>
    <div class="paragrafo"><p>Nossa especialidade é construir pontes entre novas possibilidades formais propiciadas pelas mídias digitais e as necessidades de conteúdos de nossos parceiros.</p></div>
    <img class="ilustracao" :src="require('../assets/trabalhos/caixinha.jpg')" />
  </div>
</template>

<script>
export default {
  name: 'Sobre',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .sobre {
    padding-left: 10vw;
    padding-right: 3vw;
    display: grid;
    grid-template: 'heading' auto
                   'a' auto
                   'b' auto
                   'c' auto
                   '.' 1fr / 1fr;
    flex-direction: column;
    position: relative;
  }

  .HeaderLogo {
    height: 10vh;
    margin: 5vh 0 0 -7vw;
    position: relative;
    grid-area: heading;
  }

  .HeaderLogo svg {
    width: auto;
    animation: 5s rgbPath infinite;
  }

  .ilustracao {
    display: none;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  @media (orientation: portrait) {
    .sobre {padding-left: 15vw;}
    .HeaderLogo { margin: 5vh 0 0 -10vw; }
  }

  @media (orientation: portrait) and (min-width:600px) { /* Tablets V */
    .paragrafo {display: flex; align-items: center; height: 100%; margin: 0 2vw;}
    .ilustracao {display: block;}
    .sobre {
      grid-template: 'heading heading' auto
                     'a b' 1fr
                     'c d' 1fr
                     'e f' 1fr / 1fr 1fr;
                   }
  }

  @media (orientation: landscape) and (min-width:800px) { /* Tablets H */
    .paragrafo {display: flex; align-items: center; height: 100%; margin: 0 2vw;}
    .ilustracao {display: block;}
    .ilustracao:nth-of-type(1) {grid-area: b}
    .ilustracao:nth-of-type(2) {grid-area: c}
    .ilustracao:nth-of-type(3) {grid-area: f}
    .sobre {
      grid-template: 'heading heading heading' auto
                     'a b b' 1fr
                     'c c d' 1fr
                     'e f f' 1fr / 3fr 1fr 3fr;
                   }
  }

</style>
