<template>
  <nav>
    <div v-for="item in this.$parent.$parent.ordem" :class="{'link': true, 'selected': item == $route.params.path}" >
      <span>{{ item }}</span>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navegacao',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
nav {display: none;}

@media (min-width: 768px) {
nav {display: flex; justify-content: space-between; padding: 4vh 0; align-items: center; flex-direction: column; position: fixed; top: 0; left: 0; width: 40px; height: 100vh; }
.link {position: relative; width: 15px; height: 15px; background-color: #d55349; border: 4px solid #d55349; border-radius: 50%; transition: all .5s ease-in-out;}
.selected {background-color: #fff; width: 20px; height: 20px;}
.link span {}
}
</style>
