<template>
  <v-touch :class="['home', 'pannel'+position]" @swipeup="nextPos" @swipedown="lastPos" :style="{'margin-top' : -100*position + 'vh'}">
    <Capa :bg="works[0].img" />
    <Sobre />
    <Atividades />
    <Portifolio />
    <Parceiros />
    <Contato :bg="works[0].img" />
    <Navegacao />
  </v-touch>
</template>

<script>
// @ is an alias to /src
import Capa from '@/components/Capa.vue'
import Sobre from '@/components/Sobre.vue'
import Atividades from '@/components/Atividades.vue'
import Portifolio from '@/components/Portifolio.vue'
import Parceiros from '@/components/Parceiros.vue'
import Contato from '@/components/Contato.vue'
import Navegacao from '@/components/Navegacao.vue'

import works from '../projetos.js'

export default {
  name: 'home',
  components: {
    Capa,
    Sobre,
    Atividades,
    Portifolio,
    Parceiros,
    Contato,
    Navegacao
  },
  data() {
    return {
      works: works,
      counter1: 0,
      direction: null,
      marker: true,
      position: parseInt(this.$route.params.id) > 5 ? 5 : parseInt(this.$route.params.id) < 0 || isNaN(parseInt(this.$route.params.id)) ? 0 : parseInt(this.$route.params.id),
    }
  },
  methods: {
    nextPos() {
      let pos = this.position == 5 ? 5 : this.position +1;
      this.$router.push({ path: `/${pos}` });
    },
    lastPos() {
      let pos = this.position == 0 ? 0 : this.position -1;
      this.$router.push({ path: `/${pos}` });
    },
    handleScroll(e) {
      this.counter1 += 1;
      e = e||window.event;
      let delta = e.deltaY||e.detail||e.wheelDelta;
      if (delta>0) {this.direction = 'up';} else {this.direction = 'down';}
      if(this.marker) {
        this.wheelAct();
      }
      return false;
    },
    wheelAct(){
      let counter2 = this.counter1;
      let direction2 = this.direction;
      setTimeout(function(){
        if (this.marker == true && direction2 == this.direction){
          if(this.direction == 'down')     {this.lastPos();}
          else if (this.direction == 'up') {this.nextPos();}
          this.marker = false;
        }
      }.bind(this),10);
      setTimeout(function(){
        if (counter2 == this.counter1) {
          this.marker = true;
          this.counter1 = 0;
          this.direction = null;
        } else {
          this.wheelAct();
        }
      }.bind(this),100);
    }
  },
  created: function () {
      window.addEventListener('scroll', this.handleScroll, false);
      window.addEventListener("DOMMouseScroll", this.handleScroll, false);
  },
  destroyed: function () {
      window.removeEventListener('scroll', this.handleScroll, false);
  },
  watch: {
   '$route': function(to, from) {
     this.position = parseInt(this.$route.params.id) > 5 ? 5 : parseInt(this.$route.params.id) < 0 || isNaN(parseInt(this.$route.params.id)) ? 0 : parseInt(this.$route.params.id);
   }
 }
}
</script>

<style>
.home{
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-rows: 100vh;
  transition: all .5s ease-in-out;
  font-size: .9em;
}

h1 { padding: 3vh 3vw; animation: 5s rgbTitle infinite;}
h2 { padding: 0 10vw; margin-bottom: 0; animation: 5s rgbTitle infinite;}
a {text-decoration: none; color: inherit;}

.Img_R, .Img_G, .Img_B {
  position: absolute;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}
.logo .Img_R, .logo .Img_G, .logo .Img_B {mix-blend-mode: exclusion;}
.Img_R {fill: rgb(255,0,0); animation: 3s move infinite}
.Img_G {fill: rgb(0,255,0); }
.Img_B {fill: rgb(0,0,255); animation: 4s move infinite}

@keyframes move {
  0%   {transform: translate3d(0,0,0)}
  10%  {transform: translate3d(-1%,.5%,0)}
  20%  {transform: translate3d(0,1%,0)}
  30%  {transform: translate3d(-.5,-.5%,0)}
  40%  {transform: translate3d(1%,.5%,0)}
  50%  {transform: translate3d(1%,0,0)}
  60%  {transform: translate3d(0,.5%,0)}
  70%  {transform: translate3d(.5%,0,0)}
  80%  {transform: translate3d(0,-.5%,0)}
  90%  {transform: translate3d(-.5%,1%,0)}
  100% {transform: translate3d(-1%,.5%,0)}
}

@keyframes rgbTitle {
  0% {
    text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px -1.5px 0 rgba(0, 0, 255, 0.8);
  }
  25% {
    text-shadow: 0px 1.5px 0 rgba(251, 0, 0, 0.8), 1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px 1.5px 0 rgba(0, 0, 255, 0.8);
  }
  45% {
    text-shadow: 1.5px 0 0 rgba(251, 0, 0, 0.8), 0 1.5px 0 rgba(0, 233, 0, 0.8), -1.5px 0 0 rgba(0, 0, 255, 0.8);
  }
  50% {
    text-shadow: -1.5px -1.5px 0 rgba(251, 0, 0, 0.8), 0 -1.5px 0 rgba(0, 233, 0, 0.8), 1.5px 1.5px 0 rgba(0, 0, 255, 0.8);
  }
  55% {
    text-shadow: 0px 0 0 rgba(251, 0, 0, 0.8), -1.5px 0px 0 rgba(0, 233, 0, 0.8), 0px 0 0 rgba(0, 0, 255, 0.8);
  }
  90% {
    text-shadow: -1.5px 1.5px 0 rgba(251, 0, 0, 0.8), 0 1.5px 0 rgba(0, 233, 0, 0.8), 1.5px 0 0 rgba(0, 0, 255, 0.8);
  }
  100% {
    text-shadow: 1.5px 1.5px 0 rgba(251, 0, 0, 0.8), 1.5px -1.5px 0 rgba(0, 233, 0, 0.8), -1.5px 0 0 rgba(0, 0, 255, 0.8);
  }
}
@keyframes rgbPath {
  0% {
    filter: drop-shadow( 0px 0 0 rgba(251, 0, 0, 0.8)) drop-shadow( 1.5px 0px 0 rgba(0, 233, 0, 0.8)) drop-shadow( 0px -1.5px 0 rgba(0, 0, 255, 0.8) );
  }
  25% {
    filter: drop-shadow( 0px 1.5px 0 rgba(251, 0, 0, 0.8)) drop-shadow( 1.5px 0px 0 rgba(0, 233, 0, 0.8)) drop-shadow( 0px 1.5px 0 rgba(0, 0, 255, 0.8) );
  }
  45% {
    filter: drop-shadow( 1.5px 0 0 rgba(251, 0, 0, 0.8)) drop-shadow( 0 1.5px 0 rgba(0, 233, 0, 0.8)) drop-shadow( -1.5px 0 0 rgba(0, 0, 255, 0.8) );
  }
  50% {
    filter: drop-shadow( -1.5px -1.5px 0 rgba(251, 0, 0, 0.8)) drop-shadow( 0 -1.5px 0 rgba(0, 233, 0, 0.8)) drop-shadow( 1.5px 1.5px 0 rgba(0, 0, 255, 0.8) );
  }
  55% {
    filter: drop-shadow( 0px 0 0 rgba(251, 0, 0, 0.8)) drop-shadow( -1.5px 0px 0 rgba(0, 233, 0, 0.8)) drop-shadow( 0px 0 0 rgba(0, 0, 255, 0.8) );
  }
  90% {
    filter: drop-shadow( -1.5px 1.5px 0 rgba(251, 0, 0, 0.8)) drop-shadow( 0 1.5px 0 rgba(0, 233, 0, 0.8)) drop-shadow( 1.5px 0 0 rgba(0, 0, 255, 0.8) );
  }
  100% {
    filter: drop-shadow( 1.5px 1.5px 0 rgba(251, 0, 0, 0.8)) drop-shadow( 1.5px -1.5px 0 rgba(0, 233, 0, 0.8)) drop-shadow( -1.5px 0 0 rgba(0, 0, 255, 0.8) );
  }
}

@media (orientation: portrait) and (min-width:720px) { /* Tablets V */
  .home {
    font-size: 1.3em;
  }
}

@media (orientation: landscape) and (min-width:800px) { /* Tablets H */
  .home {
    font-size: 1.3em;
  }
}
</style>
