html, body {margin: 0; padding: 0; width: 100vw; height: 100vh; overflow: hidden;}

body {background-color: #fff;}

header {
  position: absolute;
  top: 50vh;
  left: 50%;
  margin: auto;
  transform: translateY(-50%) translateX(-50%);;
  text-align: center;
  padding:  7.5% 10% 8% 10%;
  background-color: #fff;
  border: 3px solid #000;
}
header input{width: 2em; text-align: center;}

main {
  width: 100vh;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vw;
  margin: auto;
}

nav {
  position: absolute;
  background-color: #ccc;
}
.top, .bottom {width: 100%; height: 9.5vh;}
.left, .right {width: 9.5vh; height: 100%;}
.top {top: 0; left: 50%; transform: translateX(-50%);}
.bottom {bottom: 0; left: 50%; transform: translateX(-50%);}
.left {top: 50%; left: 0; transform: translateY(-50%);}
.right {top: 50%; right: 0; transform: translateY(-50%);}

section {
  display: grid;
  grid-gap: 2px;
  width: 80vh;
  height: 80vh;
  max-width: 80vw;
  max-height: 80vw;
  margin: 10vh auto;
}

article {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}
