<template>
  <div id="app">
    <div class="red-box"></div>
    <router-view/>
  </div>
</template>

<style>
*{box-sizing: border-box;}
html, body {  margin: 0; padding: 0;}
svg {width: 100%; height: 100%;}

a, h2, h3{text-decoration: none; color: #77221b}
a:hover {color: #d55349}

p { text-align: left; }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  position: relative;
  width: 100vw; height: 100vh;
  overflow: hidden;
}

.blend {
  margin: 2vh;
  mix-blend-mode: multiply;
  background-size: cover;
  background-color: #fff;
  background-blend-mode: screen;
}

.red-box {
  position: fixed;
	border: 8px solid #d55349;
  margin: 5vh 5vw;
  width: 90vw; height: 90vh;
	z-index: -1;
}

.main {
    position: absolute;
    transition: all .5s ease-in-out;
}

img.cover {display: none}

article {
  width: 100vw; height: 100vh;
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-rows: 5vh 1fr 5vh;
}

article section {
  grid-row: 2 / 3;
	grid-column: 2 / 3;
  position: relative;
  padding: 5vh 5vw;
  overflow: hidden;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
	grid-column: 1 / 4;
	grid-row: 1 / 4;
	border: none;
	margin: 0;
	font-size: 7.5vh;
  text-transform: uppercase;
  text-align: center;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
h1 span {display: flex; align-items: center; justify-content: space-around;}

@keyframes letreiro {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  3% {
    grid-row: auto;
    grid-column: auto;
    opacity: 1;
  }
  100% {
    grid-row: auto;
    grid-column: auto;
    opacity: 1;
  }
}

/* --- ADAPTIVE --- */



@media (min-width: 768px) {
  /*
    ##Device = Tablets, Ipads
    ##Screen = B/w 768px to 1024px
  */

  #app {font-size: 1.3em;}
  .red-box {
    position: fixed;
  	border: 8px solid #d55349;
    margin: 5vh 50px;
    width: 50vw; height: 90vh;
  	z-index: -1;
  }
  article { grid-template-columns: 50px 50vw 50px 1fr 35vw 4vw; }
  article section { grid-column: 4 / 6; margin: 0 5px;}
  h1 { grid-column: 1 / 4; }
  a, h2, h3{text-decoration: none; color: #d55349}
  a:hover {color: #77221b}
  span{ color: #fff}

  .blend {
    background-color: #ffd300;
    background-blend-mode: luminosity;
  }

  img.cover {
    display: block;
    grid-column: 1 / 4; grid-row: 1 / 4;
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    mix-blend-mode: multiply;
    padding: 20px;
  }
}
</style>
